*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: var(--font-light);
}

:root {
  --main-darkest: #18181b;
  --main-dark: #3f3f46;
  --main-medium: #71717a;
  --main-light: #e4e4e7;
  --font-light: #fafafa;

  --green-static: rgb(72, 165, 72);
  --green-hover: rgb(32, 97, 32);

  --red-hover: rgb(224, 0, 0);
  --red-static: rgb(153, 0, 0);
}

html {
  position: fixed;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--main-dark);
  display: grid;
  grid-template: 1fr 6fr / 1fr;
  height: 100%;
  width: 100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / 3;
  font-size: 1.5em;
  background-color: var(--main-dark);
}

main {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) 4fr minmax(500px, 1fr);
  grid-template-rows: 1fr;
  grid-row: 2 / 3;
}

button {
  background: none;
  border: none;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background-color: var(--main-dark);
}

.todo {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 16px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  height: 60px;
  background-color: var(--main-dark);
  border-radius: 1em;
  border: 2px solid black;
}

.list-item.high {
  border: 2px solid rgb(173, 0, 0);
}

.list-item.medium {
  border: 2px solid rgb(255, 238, 0);
}

.list-item.low {
  border: 2px solid rgb(255, 255, 255);
}

.todo-container {
  grid-column: 2 / 3;
  padding: 30px;
  border-radius: 5em 5em 0 0;
  border-top: 2px solid var(--main-darkest);
  border-left: 2px solid var(--main-darkest);
  border-right: 2px solid var(--main-darkest);
  background-color: var(--main-medium);
}

.project-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3em 3em 0 0;
  border: 2px solid var(--main-darkest);
  background-color: var(--main-dark);
}

.projects,
.project-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projects {
  width: 75%;
  flex-direction: column;
}

.create-project {
  font-size: 4em;
  color: var(--green-static);
}

.create-project:hover {
  color: var(--green-hover);
}

.delete-project {
  font-size: 1.2em;
  color: var(--red-static);
}

.delete-project:hover {
  color: var(--red-hover);
}

.project-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 1em;
  border: 2px solid var(--main-darkest);
  background-color: var(--main-medium);
}

.instructions {
  width: 75%;
  text-align: center;
}

.delete {
  font-size: 1.2em;
  color: var(--red-hover);
}

.project-item,
.project-empty {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2em;
  border-bottom: 2px dotted rgba(0, 0, 0, 0.233);
}

.project-empty {
  border-bottom: none;
}

.project-item:hover {
  border-bottom: 2px dotted black;
}

.project-select-btn[disabled]{
  color: black;
}

.project-select-btn {
  text-align: left;
  font-size: 1.2em;
  flex: 1;
}

.project-select-btn:hover {
  color: black;
  flex: 1;
}

.footer {
  margin-top: 20px;
}

.add-todo:hover {
  color: black;
}

.delete-todo {
  color: var(--red-hover);
}

.delete-todo:hover {
  color: var(--red-static);
}

.modal-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #00000079;
  box-shadow: 0 0 100px black inset;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
  width: 500px;
  background-color: var(--main-dark);
  border: 2px solid black;
  border-radius: 2em;
  box-shadow: 0 0 5px black;
}

.modal div:first-of-type {
  display: flex;
  justify-content: space-around;
  width: 100%;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 32px;
}

.submit-todo-edit,
.close-modal,
.add-todo,
.edit-todo,
.close-modal,
.delete-todo {
  font-size: 1.5em;
}

.submit-todo-edit:hover,
.close-modal:hover,
.add-todo:hover,
.edit-todo:hover,
.close-modal:hover,
.edit-project:hover,
input {
  color: black;
}